{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="alert alert-info">
    <ul class="mb-0">
        {% for category, message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endwith %}

<div class="container mt-5 d-flex justify-content-center">

    <div class="card shadow-lg w-75 border-primary">

        <!-- عنوان کارت -->
        <div class="card-header bg-primary text-white fw-bold fs-5 text-center">
            جزئیات آیتم
        </div>

        <!-- اطلاعات آیتم -->
        <div class="card-body">
            <ul class="list-group list-group-flush mb-4">

                <li class="list-group-item"><strong>کد پروژه:</strong> {{ item.project_code }}</li>
                <li class="list-group-item"><strong>انبار:</strong> {{ item.warehouse_location }}</li>
                <li class="list-group-item"><strong>ردیف:</strong> {{ item.row }}</li>
                <li class="list-group-item"><strong>کاربر:</strong> {{ item.user }}</li>
                <li class="list-group-item"><strong>شرکت:</strong> {{ item.company }}</li>
                <li class="list-group-item"><strong>واحد:</strong> {{ item.unit }}</li>
                <li class="list-group-item"><strong>کد پرسنلی:</strong> {{ item.personnel_code }}</li>
                <li class="list-group-item"><strong>مکان فعلی:</strong> {{ item.current_location }}</li>
                <li class="list-group-item"><strong>کد شناسایی سیستم:</strong> {{ item.system_identification_code }}
                </li>
                <li class="list-group-item"><strong>گروه بندی:</strong> {{ item.category }}</li>
                <li class="list-group-item"><strong>مدل:</strong> {{ item.model }}</li>
                <li class="list-group-item"><strong>شماره سریال:</strong> {{ item.serial_number }}</li>
                <li class="list-group-item"><strong>کد اموال:</strong> {{ item.property_code }}</li>
                <li class="list-group-item"><strong>تحویل گیرنده:</strong> {{ item.recipient_delivery }}</li>
                <li class="list-group-item"><strong>توضیحات:</strong> {{ item.description }}</li>
                <li class="list-group-item"><strong>مختوم شده:</strong> {{ item.closed }}</li>
                <li class="list-group-item"><strong>تاریخ اختتام:</strong> {{ item.closed_time }}</li>
            </ul>
        </div>

    </div>

</div>

{% if item.item_history %}

{% for history in item.item_history|reverse %}

<div class="container mt-5 d-flex justify-content-center">

    <div class="card shadow-lg w-75 border-primary">

        <!-- عنوان کارت -->
        <div class="card-header bg-primary text-white text-center fw-bold fs-5">
            {{history.changed_at}}
        </div>

        <!-- اطلاعات آیتم -->
        <div class="card-body">
            <ul class="list-group list-group-flush mb-4">

                <li class="list-group-item"><strong>کد پروژه:</strong> {{ history.project_code }}</li>
                <li class="list-group-item"><strong>انبار:</strong> {{ history.warehouse_location }}</li>
                <li class="list-group-item"><strong>ردیف:</strong> {{ history.row }}</li>
                <li class="list-group-item"><strong>کاربر:</strong> {{ history.user }}</li>
                <li class="list-group-item"><strong>شرکت:</strong> {{ history.company }}</li>
                <li class="list-group-item"><strong>واحد:</strong> {{ history.unit }}</li>
                <li class="list-group-item"><strong>کد پرسنلی:</strong> {{ history.personnel_code }}</li>
                <li class="list-group-item"><strong>مکان فعلی:</strong> {{ history.current_location }}</li>
                <li class="list-group-item"><strong>کد شناسایی سیستم:</strong> {{ history.system_identification_code }}
                </li>
                <li class="list-group-item"><strong>گروه بندی:</strong> {{ history.category }}</li>
                <li class="list-group-item"><strong>مدل:</strong> {{ history.model }}</li>
                <li class="list-group-item"><strong>شماره سریال:</strong> {{ history.serial_number }}</li>
                <li class="list-group-item"><strong>کد اموال:</strong> {{ history.property_code }}</li>
                <li class="list-group-item"><strong>تحویل گیرنده:</strong> {{ history.recipient_delivery }}</li>
                <li class="list-group-item"><strong>توضیحات:</strong> {{ history.description }}</li>
                <li class="list-group-item"><strong>مختوم شده:</strong> {{ history.closed }}</li>
                <li class="list-group-item"><strong>تاریخ اختتام:</strong> {{ history.closed_time }}</li>
            </ul>
        </div>
        {% if current_user.is_authenticated and current_user.is_admin %}
        <div class="text-center">

            <a href="{{ url_for('item_bp.delete_history', item_id=item.id, history_id=history.id) }}"
                class="btn btn-danger" onclick="return confirm('آیا مطمئن هستید؟ این عمل قابل بازگشت نیست.')">
                حذف این رکورد
            </a>
        </div>
        {% endif %}
        <br>

    </div>



</div>

{% endfor %}

{% endif %}

<br>
<div class="d-flex gap-2 justify-content-center">
    {% if current_user.is_authenticated and current_user.is_admin %}
    <a href="{{ url_for('item_bp.edit_item', item_id=item.id) }}" class="btn btn-warning">
        ویرایش آیتم
    </a>
    <a class="btn btn-danger"
                                            href="{{ url_for('item_bp.delete_item', item_id=item.id,**request.args) }}"
                                            onclick="return confirm('آیا از حذف این آیتم مطمئن هستید؟');">حذف</a>
    {%endif%}
    <a href="{{ url_for('item_bp.item', **request.args) }}" class="btn btn-secondary">
        بازگشت
    </a>
</div>

{% endblock %}