.field-container {
    position: relative;
    width: 250px;
}
.suggest-box {
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #aaa;
    max-height: 170px;
    overflow-y: auto;
    display: none;
    z-index: 999;
}
.suggest-item {
    padding: 8px;
    cursor: pointer;
}
.suggest-item:hover {
    background: #eee;
}