@font-face{
    font-family: 'DigiHamisheRegular';
    src: url('../fonts/DigiHamisheRegular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

html{
    font-family: 'DigiHamisheRegular';
    background-color: #EAEFEF;
}

#navbar a{
    text-decoration: none;
    color: #44576d;
    padding: 6.6px;
    transition: 0.1s;
    font-size: 20px;
    margin-right: 50px;
    background-color: #f7faff;

        


}
#navbar div{
    background-color:  solid red;

}
#navbar a:hover {
    font-size: 21px;
    color: #44576d;
    border: 10px;
    background-color: #90caf933;
    transition: 0.1s;
    border-radius: 2px;
}
#navbar{
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    margin-top: 20px;
    

}
