@font-face{
    font-family: 'Digi Trafic Bold';
    src: url('/static/fonts/Digi\ Trafic\ Bold.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
    
}


#navbar a{
    text-decoration: none;
    color: #1D546C;
    padding: 6.6px;
    transition: 0.1s;
    font-size: 16px;
    margin-right: 50px;
        


}
#navbar a:hover {
    font-size: 18px;
    color: #18c0eb83;
    border: 10px;
    background-color: aliceblue;
    transition: 0.1s;
    border-radius: 2px;
}
#navbar{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 60px;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0px 0px 10px 0px white;
    margin-top: 20px;
    

}
html{
    background-color: black;
}