@font-face {
    font-family: 'DigiHamisheRegular';
    src: url('../fonts/DigiHamisheRegular.ttf')format('truetype');
    font-weight: normal;
    font-style: normal;
}

body, nav, a, button, input, textarea {
    font-family: "DigiHamisheRegular";
}
