{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="col-md-6 mx-auto mb-3">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}


<div class="container mt-4">

    

    <!-- کارت لیست فایل‌ها -->
    <div class="card shadow-lg border-0 mb-4  border-primary">
        <div class="card-header bg-primary text-white text-center  border-primary">
            <h5 class="mb-0">فایل ها</h5>
        </div>

        <div class="card-body p-0 ">
            <table class="table table-striped table-hover m-0 text-center">
                <thead class="table-primary">
                    <tr>
                        <th>نام فایل</th>
                        <th>دانلود</th>
                    </tr>
                </thead>

                <tbody>
                    {% for file in files %}
                    <tr>
                        <td class="align-middle">{{ file }}</td>

                        <td class="align-middle">
                            <a href="{{ url_for('document_bp.download_file', filename=file) }}"
                               class="btn btn-primary btn-sm">
                                دانلود
                            </a>
                        </td>

                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3" class="text-muted py-3">هیچ فایلی وجود ندارد.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}
