{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
    <h2 class="text-center text-primary mb-4">پیش‌نمایش ریکوردهای فایل اکسل</h2>

    <form method="post" action="{{ url_for('personnel_bp.add_multy_personnel_to_database') }}">
        <div class="table-responsive mb-4">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        {% for col in columns %}
                        <td>{{ row[col] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary w-100">وارد کردن به دیتابیس</button>
    </form>
</div>
{% endblock %}
