{% extends 'base.html' %}

{% block content %}

<form action="#" style="float: right;display: contents;">

    
    <input type="text" id="project_code" name="project_code" placeholder="کد پروژه"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="row" name="row" placeholder="ردیف"><br>
    <input type="text" id="first_recipient_delivery" name="first_recipient_delivery" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل"><br>

    <button type="submit" style="background-color: gray;border: none;">ثبت</button><br>

</form>
<a href="{{url_for('excel_import')}}" style="background-color: gray;border-radius: 5px;padding: 10px;display: block;">وارد کردن دسته جمعی از اکسل</a>

{% endblock %}