{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form method="post">
  <a href="{{url_for('add_item_bp.excel_import')}}" style="display: block;">وارد کردن دسته جمعی از اکسل</a>
<div id="base_add">

  <div id="add_item">
   <div>
    <input type="text" id="warehouse_location" name="warehouse_location" placeholder="محل">
    <input type="text" id="row" name="row" placeholder="ردیف">
   </div>
    <div>
      <input type="text" id="project_code" name="project_code" placeholder="کد پروژه">
    <input type="text" id="first_recipient_delivery" name="first_recipient_delivery" placeholder="تحویل گیرنده اول">
  
    </div>
    <div>
      <input type="text" id="unit" name="unit" placeholder="واحد">
    <input type="text" id="personnel_code" name="personnel_code" placeholder="کد پرسنلی">
    </div>
    <div>
      <input type="text" id="current_location" name="current_location" placeholder="محل استقرار">
    <input type="text" id="system_identification_code" name="system_identification_code" placeholder="کد شناسایی سیستم">
    </div>
   <div>
     <input type="text" id="category" name="category" placeholder="گروه بندی">
    <input type="text" id="model" name="model" placeholder="مدل">
   </div>
    <div>
      <input type="text" id="serial_number" name="serial_number" placeholder="سریال">
    <input type="text" id="property_code" name="property_code" placeholder="کد اموال">
    </div>
   <div>
     <input type="text" id="second_recipient_delivery" name="second_recipient_delivery" placeholder="تحویل گیرنده دوم">
    <input type="text" id="third_recipient_delivery" name="third_recipient_delivery" placeholder="تحویل گیرنده 1">
   </div>
   <div>
     <input type="text" id="forth_recipient_delivery" name="forth_recipient_delivery" placeholder="تحویل گیرنده 2">
    <input type="text" id="description" name="description" placeholder="توضیحات">
   </div>
    <div>
       <input type="text" id="forth_recipient_delivery" name="forth_recipient_delivery" placeholder="تحویل گیرنده 2">
    <input type="text" id="description" name="description" placeholder="توضیحات">
    </div>
    <div>
       <input type="text" id="company" name="company" placeholder="شرکت">
    </div>
    <div>
          <button type="submit">ثبت</button>
    </div>
</div>
<div id="capi">
  <h4>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit consequatur sequi laborum distinctio aperiam adipisci aut labore error corporis odit blanditiis iure doloremque, laboriosam excepturi officiis a fugiat ea tempora!
  </h4>
</div>

    

</form>


{% endblock %}