{% extends "base.html" %}


{% block content %}

    
    

    <form method="get" autocomplete="off" ><br>

        <label for="property_code">کد اموال</label>
        <input id="property_code" type="text" name="property_code">


        <label for="project_code">کد پروژه</label>
        <input type="text" list="project_code" name="project_code" id="project_code">
        <datalist name="project_code" id="project_code">
            <option value="362">
            <option value="290">
            <option value="392">
        </datalist>


        <label for="user">کاربر</label>
        <input type="text" list="uesr" name="user" id="user">
        <datalist name="user" id="user">
            </datalist>

        <label for="company">شرکت</label>
         <input type="text" list="company" name="company" id="company">
        <datalist name="company" id="company">
        </datalist>

        <label for="serial_number">شماره سریال</label>
        <input type="text" list="serial_number" name="serial_number">
        <datalist name="serial_number" id="serial_number">
        </datalist>

        <label for="category">گروه بندی</label>
        <input type="text" list="category" name="category">
        <datalist name="category" id="category">
        </datalist>

        
        <button type="submit">جستجو</button><br>

    </form>

   
    {% if items|length == 0 %}
        <h1>موردی یافت نشد !</h1>

    {% else %}
        <table>
    <thead>
        <tr>
            <th>کد اموال</th>
            <th>کد پروژه</th>
            <th>کاربر</th>
            <th>تحویل گیرنده</th>
            <th>شرکت</th>
            <th>گروه یندی</th>
            <th>کد شناسایی</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
   
        <tr>
            <td>{{item.property_code}}</td>
            <td>{{item.project_code}}</td>
            <td>{{item.user}}</td>
            <td>{{item.recipient_delivery}}</td>
            <td>{{item.company}}</td>
            <td>{{item.category}}</td>
            <td>{{item.system_identification_code}}</td>
            
            <td><a href="{{url_for('search_bp.item_detail',item_id=item.id,**request.args)}}">جزییات</a></td>
        </tr>
    
    {% endfor %}
    </tbody>
</table>
    {% endif %}
    

<a href="{{url_for('search_bp.show_all_records')}}">نمایش همه ریکورد ها</a>


    
{% endblock %}

