{% extends "base.html" %}


{% block content %}

    
    

    <form method="get"  autocomplete="off"><br>

<div class="field-container">
    <input type="text" id="property_code" placeholder="property_code" 
           onclick="loadSuggestions('property_code')" 
           oninput="loadSuggestions('property_code')">

    <div class="suggest-box" id="property_code_box"></div>
</div>

<div class="field-container">
    <input type="text" id="user" placeholder="User"
           onclick="loadSuggestions('user')" 
           oninput="loadSuggestions('user')">

    <div class="suggest-box" id="user_box"></div>
</div>


        
        <button type="submit">جستجو</button><br>

    </form>

   
    {% if items|length == 0 %}
        <h1>موردی یافت نشد !</h1>

    {% else %}
        <table>
    <thead>
        <tr>
            <th>کد اموال</th>
            <th>کد پروژه</th>
            <th>کاربر</th>
            <th>تحویل گیرنده</th>
            <th>شرکت</th>
            <th>گروه یندی</th>
            <th>کد شناسایی</th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
   
        <tr>
            <td>{{item.property_code}}</td>
            <td>{{item.project_code}}</td>
            <td>{{item.user}}</td>
            <td>{{item.recipient_delivery}}</td>
            <td>{{item.company}}</td>
            <td>{{item.category}}</td>
            <td>{{item.system_identification_code}}</td>
            
            <td><a href="{{url_for('search_bp.item_detail',item_id=item.id,**request.args)}}">جزییات</a></td>
        </tr>
    
    {% endfor %}
    </tbody>
</table>
    {% endif %}
    

<a href="{{url_for('search_bp.show_all_records')}}">نمایش همه ریکورد ها</a>

    
{% endblock %}

