{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<form method="post" autocomplete="off">
  
<div id="all_base">
  <div id="base_add">
  <div id="add_item">

   <div> 
    <label for="project_code">کد پروژه</label>
    <input type="text" id="project_code" name="project_code" placeholder="">
    <label for="property_code">کد اموال</label>
    <input type="text" id="property_code" name="property_code" placeholder="">
   </div>

    <div>
    <label for="user">کاربر</label>
      <input type="text" id="user" name="user" placeholder="">
    <label for="recipient_delivery">تحویل گیرنده</label>
    <input type="text" id="recipient_delivery" name="recipient_delivery" placeholder="">
    </div>

    <div>
    <label for="personnel_code">کد پرسنل</label>
      <input type="text" id="personnel_code" name="personnel_code" placeholder="">
    <label for="current_location">محل استقرار</label>
    <input type="text" id="current_location" name="current_location" placeholder="">
    </div>

    <div>
    <label for="system_identification_code">کد شناسایی سیستم</label>
      <input type="text" id="system_identification_code" name="system_identification_code" placeholder="">
    <label for="category">گروه بندی</label>
    <input type="text" id="category" name="category" placeholder="">
    </div>

   <div>
    <label for="model">مدل</label>
     <input type="text" id="model" name="model" placeholder="">
    <label for="serial_number">شماره سریال</label>
    <input type="text" id="serial_number" name="serial_number" placeholder="">
   </div>

   <div>
    <label for="closed">مختوم شده</label>
      <input type="text" id="closed" name="closed" placeholder="">
    <label for="closed_time">توضیحات اختتام</label>
    <input type="text" id="closed_time" name="closed_time" placeholder="">
    </div>
   <div>
    <label for="description">توضیحات</label>
     <input type="text" id="description" name="description" placeholder="">
   </div>
  

     <button id="button_add" type="submit" ons>ثبت</button>


</form>

<div id="axel_box">
  <div>
    <a href="{{url_for('add_item_bp.excel_import')}}" style="display: block;">وارد کردن دسته جمعی از اکسل</a>
  </div>
</div>

 




{% endblock %}